{% extends 'layout.html.twig' %}

{% block body %}


    <div role="main" class="main">
        <section class="page-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="breadcrumb">
                            <li><a href="{{ path('_home') }}">Home</a></li>
                            <li class="active">Contact</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <div class="container">

            <div class="row">
                <div class="col-md-6">

                    <div class="alert alert-success hidden" id="contactSuccess">
                        <strong>Success!</strong> Your message has been sent to us.
                    </div>

                    <div class="alert alert-danger hidden" id="contactError">
                        <strong>Error!</strong> There was an error sending your message.
                    </div>

                    <h2 class="mb-sm mt-sm"><strong>Contact</strong> me !</h2>

                    {{ form_start(form, {'action': path('_contact'), 'attr': {'class': 'my-form-class'}} )}}

                        {{ form_errors(form) }}

                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-6">
                                    {{ form_label(form.name, 'Name :') }}
                                    {{ form_errors(form.name, {'attr': {'class': 'form-control'} } ) }}
                                    {{ form_widget(form.name, {'attr': {'class': 'form-control'} } ) }}

                                </div>
                                <div class="col-md-6">
                                    {{ form_label(form.email, 'Email :') }}
                                    {{ form_errors(form.email, {'attr': {'class': 'form-control'} } ) }}
                                    {{ form_widget(form.email, {'attr': {'class': 'form-control'} } ) }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-12">
                                    {{ form_label(form.subject, 'Subject :') }}
                                    {{ form_errors(form.subject, {'attr': {'class': 'form-control'} } ) }}
                                    {{ form_widget(form.subject, {'attr': {'class': 'form-control'} } ) }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-12">
                                    {{ form_label(form.text, 'Mesage :') }}
                                    {{ form_errors(form.text, {'attr': {'class': 'form-control'} } ) }}
                                    {{ form_widget(form.text, {'attr': {'class': 'form-control', 'rows':7, 'style': 'overflow:auto;resize:none'} } ) }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <input type="submit" value="Send Message" class="btn btn-primary btn-lg mb-xlg" data-loading-text="Loading...">
                            </div>
                        </div>

                    {{ form_end(form) }}

                </div>
                <div class="col-md-6">

                    <h4 class="heading-primary mt-lg">Get in <strong>Touch</strong></h4>
                    <p>Don't be shy and drop me a line! <strong>I promise I won't spam you</strong> or sign you up to to undesired newsletters.
                        I would love to hear what you have to say about this website, know more about you and
                        even meet up to have a beer or something.
                    </p>

                    <hr>

                    <h4 class="heading-primary">Some reasons to <strong>contact me</strong></h4>
                    <ul class="list list-icons list-dark mt-xlg">
                        <li><i class="fa fa-commenting-o"></i> Give me feedback about this site</li>
                        <li><i class="fa fa-briefcase"></i> Offer me a job</li>
                        <li><i class="fa fa-beer"></i> Buy me a beer</li>
                        <li><i class="fa fa-eur"></i> You just found out I am the sole heir to a huge fortune</li>
                        <li><i class="fa fa-thumbs-o-up"></i> Tell me how awesome I am!</li>
                    </ul>

                </div>

            </div>



        </div>

    </div>


{% endblock %}

