{% extends 'layout.html.twig' %}

{% block body %}
    <div role="main" class="main">

        <div class="slider-container rev_slider_wrapper">
            <div id="revolutionSlider" class="slider rev_slider" data-plugin-revolution-slider data-plugin-options='{"gridwidth": 1170, "gridheight": 500}'>
                <ul>
                    <li data-transition="fade">
                        <img src="{{ asset('img/slides/slide-bg.jpg')}}"
                             alt="slide-bg"
                             data-bgposition="center center"
                             data-bgfit="cover"
                             data-bgrepeat="no-repeat"
                             class="rev-slidebg">

                        <div class="tp-caption"
                             data-x="177"
                             data-y="180"
                             data-start="1000"
                             data-transform_in="x:[-300%];opacity:0;s:500;"><img src="{{ asset('img/slides/slide-title-border.png')}}" alt="border"></div>

                        <div class="tp-caption top-label"
                             data-x="227"
                             data-y="180"
                             data-start="500"
                             data-transform_in="y:[-300%];opacity:0;s:500;">WELCOME TO</div>

                        <div class="tp-caption"
                             data-x="395"
                             data-y="180"
                             data-start="1000"
                             data-transform_in="x:[300%];opacity:0;s:500;"><img src="{{ asset('img/slides/slide-title-border.png')}}" alt="border"></div>

                        <div class="tp-caption main-label"
                             data-x="135"
                             data-y="210"
                             data-start="1500"
                             data-whitespace="nowrap"
                             data-transform_in="y:[100%];s:500;"
                             data-transform_out="opacity:0;s:500;"
                             data-mask_in="x:0px;y:0px;">camiloenparis</div>

                        <div class="tp-caption bottom-label"
                             data-x="185"
                             data-y="280"
                             data-start="2000"
                             data-transform_in="y:[100%];opacity:0;s:500;">The ultimate guide to Camilo's brain</div>

                        <div class="tp-caption"
                             data-x="910"
                             data-y="248"
                             data-start="2500"
                             data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1300;"><img src="{{ asset('img/slides/slide-concept-2-1.png')}}" alt="slide"></div>

                        <div class="tp-caption"
                             data-x="960"
                             data-y="200"
                             data-start="3500"
                             data-transform_in="y:[300%];opacity:0;s:300;"><img src="{{ asset('img/slides/slide-concept-2-2.png')}}" alt="slide"></div>

                        <div class="tp-caption"
                             data-x="930"
                             data-y="170"
                             data-start="3650"
                             data-transform_in="y:[300%];opacity:0;s:300;"><img src="{{ asset('img/slides/slide-concept-2-3.png')}}" alt="slide"></div>

                        <div class="tp-caption"
                             data-x="880"
                             data-y="130"
                             data-start="3750"
                             data-transform_in="y:[300%];opacity:0;s:300;"><img src="{{ asset('img/slides/slide-concept-2-4.png')}}" alt="slide"></div>

                        <div class="tp-caption"
                             data-x="610"
                             data-y="80"
                             data-start="3950"
                             data-transform_in="y:[300%];opacity:0;s:300;"><img src="{{ asset('img/slides/slide-concept-2-5.png')}}" alt="slide"></div>

                        <div class="tp-caption blackboard-text"
                             data-x="640"
                             data-y="300"
                             data-start="3950"
                             style="font-size: 37px;"
                             data-transform_in="y:[300%];opacity:0;s:300;">His work</div>

                        <div class="tp-caption blackboard-text"
                             data-x="665"
                             data-y="350"
                             data-start="4150"
                             style="font-size: 47px;"
                             data-transform_in="y:[300%];opacity:0;s:300;">His life</div>

                        <div class="tp-caption blackboard-text"
                             data-x="690"
                             data-y="400"
                             data-start="4350"
                             style="font-size: 32px;"
                             data-transform_in="y:[300%];opacity:0;s:300;">His passions</div>
                    </li>
                    <li data-transition="fade">
                        <img src="{{ asset('img/slides/slide-bg.jpg')}}"
                             alt="slide"
                             data-bgposition="center center"
                             data-bgfit="cover"
                             data-bgrepeat="no-repeat"
                             class="rev-slidebg" data-no-retina>

                        <div class="tp-caption top-label"
                             data-x="155"
                             data-y="100"
                             data-start="500"
                             data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1000;e:Power2.easeOut;">
                            <img src="{{ asset('img/slides/slide-concept.png')}}" alt="slide"></div>

                        <div class="tp-caption blackboard-text"
                             data-x="285"
                             data-y="180"
                             data-start="1000"
                             style="font-size: 30px;"
                             data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1000;e:Power2.easeOut;">confidences</div>

                        <div class="tp-caption blackboard-text"
                             data-x="285"
                             data-y="220"
                             data-start="1200"
                             style="font-size: 40px;"
                             data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1000;e:Power2.easeOut;">and secrets</div>

                        <div class="tp-caption main-label"
                             data-x="685"
                             data-y="190"
                             data-start="1800"
                             data-whitespace="nowrap"
                             data-transform_in="y:[100%];s:500;"
                             data-transform_out="opacity:0;s:500;"
                             data-mask_in="x:0px;y:0px;">CAMILO'S LIFE</div>

                        <div class="tp-caption bottom-label"
                             data-x="685"
                             data-y="250"
                             data-start="2000"
                             data-transform_idle="o:1;"
                             data-transform_in="y:[100%];z:0;rZ:-35deg;sX:1;sY:1;skX:0;skY:0;s:600;e:Power4.easeInOut;"
                             data-transform_out="opacity:0;s:500;"
                             data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                             data-splitin="chars"
                             data-splitout="none"
                             data-responsive_offset="on"
                             data-elementdelay="0.05">like you've never seen it before...</div>

                    </li>
                </ul>
            </div>
        </div>
        <div class="home-intro" id="home-intro">
            <div class="container">

                <div class="row">
                    <div class="col-md-8">
                        <p>
                            If you are not interested in my life, then go watch
                            <a href="https://www.youtube.com/watch?v=tntOCGkgt98" target="_blank"><em>some funny cat videos</em></a>
                            <span>They are indeed very cute!</span>
                        </p>
                    </div>
                </div>

            </div>
        </div>


        <div class="row">

            <div class="container">

                <div class="col-md-8 mb-xl">
                    <h2 class="mb-sm mt-md">Who the hell is <strong>Camilo ?</strong></h2>
                    <p class="lead mb-xl">
                        Traveller, writer, entrepreneur, citizen of the world... Many are the names by which I go. I have also been called the <i>"most interesting man in the 2nd floor
                        of my building"</i> (the other appartment in my floor is currently empty), and I have won the <i> "best daddy in the world" </i> award, given to me by my daughter...
                        </br>
                        </br>
                        In case you are wondering, <strong>my name is Camilo and I live in Paris</strong>. I have been living in this wonderful city for the past 12 years.</br>
                        I love to write, to eat, to drink and I live life to its maximum. I am a father, a husband, an entrepreneur, a friend, a son and a neighbor.
                        </br>
                        You can think I am just an ordinary guy... but If you get to know me better, you'll find I have an extraordinary story to tell!.
                    </p>
                </div>
                <div class="col-md-4">
                    <div class="owl-carousel owl-theme" data-plugin-options='{"items": 1, "margin": 10, "autoplay": "true"}'>
                        <div>
                            <span class="img-thumbnail">
                                <img alt="camilo" height="300" class="img-responsive" src="{{ asset('img/camilo/camilo-6.jpg') }}">
                            </span>
                        </div>
                        <div>
                            <span class="img-thumbnail">
                                <img alt="camilo" height="300" class="img-responsive" src="{{ asset('img/camilo/camilo-1.jpg') }}">
                            </span>
                        </div>
                        <div>
                            <span class="img-thumbnail">
                                <img alt="camilo" height="300" class="img-responsive" src="{{ asset('img/camilo/camilo-2.jpg') }}">
                            </span>
                        </div>
                        <div>
                            <span class="img-thumbnail">
                                <img alt="camilo" height="300" class="img-responsive" src="{{ asset('img/camilo/camilo-3.jpg') }}">
                            </span>
                        </div>
                        <div>
                            <span class="img-thumbnail">
                                <img alt="camilo" height="300" class="img-responsive" src="{{ asset('img/camilo/camilo-4.jpg') }}">
                            </span>
                        </div>
                        <div>
                            <span class="img-thumbnail">
                                <img alt="camilo" height="300" class="img-responsive" src="{{ asset('img/camilo/camilo-5.jpg') }}">
                            </span>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 mb-xl">
                    <p class="lead mb-xl">
                        This website is a guide to my brain, to my life, to my work and my passions. An unpretentious and unorganized collection of thoughts, places, discoveries
                        and experiences in the city of light and all other places I've been to.
                        </br>
                        I hope you like my site and that you find inspiration through my lines, or at least don't get too bored reading what I write (in which case,
                        you can still go back to the <a href="https://www.youtube.com/watch?v=tntOCGkgt98" target="_blank"> funny cat videos</a>)...
                    </p>
                </div>

            </div>

        </div>
    </div>

{% endblock %}